*.json
.env

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Sensitive configuration files (local overrides)
src/main/resources/application-local.properties
target/classes/application-local.properties